@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Yellow */
    --yellow: hsl(47, 88%, 63%);
    
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
}

.container {
    width: 320px;
    background-color: var(--white);
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.container > img {
    width: 100%;
    border-radius: 10px;
}

.text-container .learning {
    display: inline-block;
    background-color: var(--yellow);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 800;
    margin: 15px 0;
}

.text-container .publish {
    font-size: small;
    font-weight: 500;
}

.text-container h2 {
    margin: 15px 0;
    font-weight: 800;
    font-size: 1.4rem;
}

.text-container p {
    color: var(--grey);
}

.greg-container {
    margin-top: 30px;
    display: flex;
}

.greg-container img{
    width: 40px;
}

.greg-container span {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0.85rem;
    font-weight: 800;
}

